In [65]:
import pandas as pd
import numpy as np
train=pd.read_csv("../data/raw/train.csv")
test=pd.read_csv("../data/raw/test.csv")
print(train.shape)
train.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [66]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [67]:
train['Age']=train['Age'].fillna(train['Age'].median())
test['Age']=test['Age'].fillna(test['Age'].median())

In [68]:
train['Embarked']=train['Embarked'].fillna(train['Embarked'].mode()[0])
test['Embarked']=test['Embarked'].fillna(train['Embarked'].mode()[0])

In [69]:
train.drop(columns=['Cabin'],inplace=True)
test.drop(columns=['Cabin'],inplace=True)

In [70]:
train['Sex']=train['Sex'].map({'male':0,'female':1})
test['Sex']=test['Sex'].map({'male':0,'female':1})
train['Embarked']=train['Embarked'].map({'S':0,'C':1,'Q':2})
test['Embarked']=test['Embarked'].map({'S':0,'C':1,'Q':2})

In [71]:
train['FamilySize']=train['SibSp']+train['Parch']+1
test['FamilySize']=test['SibSp']+test['Parch']+1

In [72]:
features=['Pclass','Sex','Age','Fare','Embarked','FamilySize']
x_train=train[features]
y_train=train['Survived']
x_test=test[features]

In [74]:
train_processed=pd.concat([x_train,y_train],axis=1)
train_processed.to_csv("../data/processed/train_processed.csv",index=False)
x_test.to_csv("../data/processed/test_processed.csv",index=False)

In [75]:
train_processed.info()
train_processed.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int64
 2   Age         891 non-null    float64
 3   Fare        891 non-null    float64
 4   Embarked    891 non-null    int64
 5   FamilySize  891 non-null    int64
 6   Survived    891 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

   Pclass  Sex   Age     Fare  Embarked  FamilySize  Survived
0       3    0  22.0   7.2500         0           2         0
1       1    1  38.0  71.2833         1           2         1
2       3    1  26.0   7.9250         0           1         1
3       1    1  35.0  53.1000         0           2         1
4       3    0  35.0   8.0500         0           1         0